.header {
  @include flex-center;
  justify-content: space-between;
  padding: 20px;
  background-color: $color-bg-light;

  &__logo {
    font-size: 24px;
    font-family: $font-playfair;
    font-weight: 600;
  }

  &__nav {
    display: flex;
    gap: 20px;

    &-item {
      color: $color-gray;
      text-decoration: none;

      &:hover {
        color: $color-black;
      }
    }
  }
}