.hero {
  height: 630px;
  background: url('../img/background_img.jpg') center/cover no-repeat;
  @include flex-center;

  &__content {
    background-color: $color-white;
    width: 690px;
    height: 360px;
    @include flex-center;
    flex-direction: column;
  }

  &__title {
    @include title-style(36px, 500);
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 12px;
    font-family: $font-roboto;
    font-weight: 300;
  }
}