// Colors
$color-black: #000;
$color-white: #fff;
$color-gray: #333;
$color-bg-light: #f2f2f2;

// Fonts
$font-roboto: "Roboto", sans-serif;
$font-playfair: "Playfair Display", serif;
$font-bitter: "Bitter", serif;

// Sizes
$container-width: 1440px;